*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1
{
	text-align: center;
	margin-bottom: 15px;
}
div#container 
{
	background-color: #00FFFF;
	position: relative;
	/*display: flex;
	flex-direction: row;*/


}

/*p
{
	margin-bottom: 50px; 
	width: 300px;
	height: 300px;
	border: 1px solid black;
	margin-bottom: 15px;

}
*/
.sechead
{
	padding-top: 5px;
}
div#Chicken 
{
	text-align: center;
	font-style: bold;
	padding-left: 8px;
	padding-right: 8px;
}

#Chicken 
{ float: right; 
background-color: #A52A2A;
border: 1px solid black;
text-align: center;
width: 100px;
height: 30px; 
position: relative;
margin-bottom: 10px;}
#Beef
{ float: right; 
background-color: #B8860B;
border: 1px solid black;
text-align: center;
width: 100px;
height: 30px; 
position: relative;
margin-bottom: 10px;}
#Sushi
{ float: right; 
background-color: #6495ED;
border: 1px solid black;
text-align: center;
width: 100px;
height: 30px; 
position: relative;
margin-bottom: 10px;}
#p1
{
	padding-left: 10px;
	padding-top: 30px;
	padding-right: 10px;


}
#p2
{
	padding-left: 10px;
	padding-top: 30px;
	padding-right: 10px;
	
}
#p3
{
	padding-left: 10px;
	padding-top: 30px;
	padding-right: 10px;

}
div#sec1
{position: relative; }
div#sec3
{position: relative; }
div#sec2
{position: relative; }
#sec1
{ margin-right: auto; margin-left: auto; border: 1px solid black; width: 300px; height: 300px; background-color: gray;}
#sec2
{ margin-right: auto; margin-left: auto; border: 1px solid black; width: 300px; height: 300px; background-color: gray;}
#sec3
{margin-right: auto; margin-left: auto; border: 1px solid black; width: 300px; height: 300px; background-color: gray; }

@media (min-width: 768px) and (max-width: 991px)
{
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
		/*border: 1px solid ;*/
	}

	.col-lg-1
	{
		width: 8.33%;
	}
	.col-lg-2
	{
		width: 16.66%;
	}
	.col-lg-3
	{
		width: 25%;
	}
	.col-lg-4
	{
		width: 33%;
	}
	.col-lg-5
	{
		width: 41.66%;
	}
	.col-lg-6
	{
		width: 50%;
	}
	.col-lg-7
	{
		width: 58.33%;
	}
	.col-lg-8
	{
		width: 66.66%;
	}
	.col-lg-9
	{
		width: 74.99%;
	}
	.col-lg-10
	{
		width: 83.33%;
	}.col-lg-11
	{
		width: 91.66%;
	}.col-lg-12
	{
		width: 100%;
	}
}

@media (min-width: 992px)
{
	#container,.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
	display: flex;
	flex-direction: row;
	}

	.col-md-1
	{
		width: 8.33%;
	}
	.col-md-2
	{
		width: 16.66%;
	}
	.col-md-3
	{
		width: 25%;
	}
	.col-md-4
	{
		width: 33%;
	}
	.col-md-5
	{
		width: 41.66%;
	}
	.col-md-6
	{
		width: 50%;
	}
	.col-md-7
	{
		width: 58.33%;
	}
	.col-md-8
	{
		width: 66.66%;
	}
	.col-md-9
	{
		width: 74.99%;
	}
	.col-md-10
	{
		width: 83.33%;
	}
	.col-md-11
	{
		width: 91.66%;
	}
	.col-md-12
	{
		width: 100%;
	}
}
